{
    "env": {
        "production": {
            "plugins": ["transform-remove-console", "transform-remove-debugger", "transform-strict-mode"],
            "presets": ["es2015"]
        },
        "development": {
            "plugins": ["transform-strict-mode"],
            "presets": ["es2015"]
        },

    }
}
